<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zjh.ssmpro.dao.DepartmentDao">
	<select id="queryAllDepartment" resultType="Department">
		select
		*
		from
		department
	</select>

	<insert id="insertDepartment" parameterType="Department">
		insert into
		department(name,date)
		values(#{name},#{date})
	</insert>
	<delete id="deleteDepartmentById" parameterType="int">
		delete from department where id=#{id}
	</delete>

	<select id="queryDepartmentById" resultType="Department">
		select
		*
		from
		department
		where
		id = #{id}

	</select>

	<update id="updateDepartmentById" parameterType="Department">
		update department set name=#{name} where id=#{id}
	</update>
</mapper>







		
