<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zjh.ssmpro.dao.DepartmentDao">
	<insert id="insertDepartment" parameterType="Department">
		insert into
		department(name)
		values(#{name})
	</insert>
	<select id="queryAllDepartment" resultType="Department">
		select
		*
		from
		department
	</select>

	<select id="queryDepartmentById" resultType="Department">
		select
		d.id,
		d,name
		p.id "position.id",
		p.name "position.name"
		from
		department d,position p
		where
		p.department_id = d.id
		AND
		d.id=#{id}

	</select>

	<update id="updateDepartmentById" parameterType="Department">
		update department set name=#{name} where id=#{id}
	</update>
</mapper>







		
