<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zjh.ssmpro.dao.InvitationDao">
	<insert id="insertInvitation" parameterType="Invitation">
		insert into
		invitation(name,vid,text,date,aName)
		values(#{name},#{vid},#{text},#{date},#{aName})
	</insert>
	<select id="queryInvitationByName"  resultType="Invitation">
		select
		*
		from
		invitation
		where
		name=#{name}
	</select>
	<select id="queryInvitationByType"  resultType="Invitation">
		select
		*
		from
		invitation
		where
		type=#{type}
	</select>
	<select id="queryInvitationByVid"  resultType="Invitation">
		select
		*
		from
		invitation
		where
		vid=#{vid}
		AND
		type=0
	</select>

	<select id="queryInvitationById"  resultType="Invitation">
		select
		*
		from
		invitation
		where
		id=#{id}
	</select>
	<update id="updateInvitationById" parameterType="Invitation">
		update invitation set type=#{type} where id=#{id}
	</update>
</mapper>







		
