<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zjh.ssmpro.dao.InvitationDao">
	<insert id="insertInvitation" parameterType="Invitation">
		insert into
		invitation(id,name,text,date,type)
		values(#{id},#{name},#{text},#{date},#{type})
	</insert>
	<select id="queryInvitationByName"  resultType="Invitation">
		select
		*
		from
		invitation
		where
		name=#{name}
	</select>
	<select id="queryInvitationByType"  resultType="Invitation">
		select
		*
		from
		invitation
		where
		type=#{type}
	</select>

	<update id="updateInvitationByName" parameterType="Invitation">
		update invitation set type=1 where name=#{name}
	</update>
</mapper>







		
