<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.zjh.ssmpro.dao.RecruitmentDao">
	<insert id="insertRecruitment" parameterType="Recruitment">
		insert into recruit(name,address,date,describe,pid)
		values(#{name},#{address},#{date},#{describe},#{post.pid})
</insert>
	<delete id="deleteRecruitmentById" parameterType="int">
		delete from recruitment where id=#{id}
	</delete>

	<update id="updateRecruitmentById" parameterType="Recruitment">
		update recruitment set state=#{state} where id=#{id}
	</update>
	<select id="getRecruitByReid" resultType="int" resultMap="recruitMap">
		select recruit.*,post.* from recruit,post where recruit.pid=post.pid and reid=#{reid}
	</select>
	<select id="queryAllRecruitment"  resultType="Recruitment">
		select recruitment.*,post.*
		from recruit,post
		where recruit.pid=post.pid
	</select>
</mapper>







		
